
.carousel {
    background-image: url("homerect.jpg");
    background-size: cover;
    min-height: 100px;
    white-space: nowrap;
    position: relative;
    overflow: hidden;
    border-top: 2px solid #000; /* Adds a top border */
    border-bottom: 2px solid #000; /* Adds a bottom border */
    width: 101%;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.values {
    padding: 30px 0px;
    white-space: nowrap;
    display: inline-flex;
    justify-content: space-around;
    animation: 30s slide infinite linear;
    
}


.valueText{
    font-size: 30px;
    color: black;
    margin:  0 60px;
}

@media screen and (min-width: 431px) and (max-width: 600px) {
    .carousel {
        background-image: url("homerect.jpg");
        background-size: cover;
        min-height: 52px;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
    }
    .values {
        padding: 40px 0px;
        white-space: nowrap;
        display: inline-flex;
        justify-content: space-around;
        justify-items: center;
        animation: 30s slide infinite linear;
    }
    .valueText{
        font-size: 21px;
        margin: 0 30px;
    }
}

@media screen and (max-width: 430px) {
    .carousel {
        background-image: url("homerect.jpg");
        background-size: cover;
        min-height: 40px;
        white-space: nowrap;
        position: relative;
        overflow: hidden;
    }
    .values {
        padding: 10% 0px;
        white-space: nowrap;
        display: inline-flex;
        justify-content: space-around;
        justify-items: center;
        animation: 30s slide infinite linear;
    }
    .valueText{
        font-size: 21px;
        margin: 0 15px;
    }
    
}

