.container {
    min-height: 85vh;
    text-align: center;
    margin-top: 100px;
}

.title {
    font-size: xx-large;
    font-weight: bold;
}

.eventCards{
    display: flex;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}