/* Base/Laptop styles */
.container {
    min-height: 70vh;
    text-align: center;
    margin-top: 100px;
    justify-content: flex-start;
    justify-items: flex-start;
}

.title {
    font-size: 60px;
    font-weight: bold;
    justify-content: center;
}

.eventCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(250px, 1fr)); /* Responsive grid setup */
    display: flex;
    text-align: left;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.upcoming {
    font-size: xx-large;
}

/* tablets */
@media screen and (min-width: 600px) and (max-width: 1000px){ 
    .eventCards {
        display: grid;
        grid-template-columns: repeat(2, 1fr); /* 2 events per row */
    }
}

 /* mobile + phone */
@media screen and (max-width: 600px) { 
    .eventCards {
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 2 events per row */
    }
}