
.carousel {
    background-image: url("homerect.jpg");
    background-size: cover;
    min-height: 100px;
    white-space: nowrap;
    position: relative;
}

@keyframes slide {
    from {
        transform: translateX(0);
    }
    to {
        transform: translateX(-100%);
    }
}

.values {
    padding: 30px 0;
    white-space: nowrap;
    display: inline-flex;
    justify-content: space-around;
    animation: 30s slide infinite linear;
    
}

@font-face {
    font-family: "Poppins";
    src: local("Poppins"), url("../../public/fonts/Poppins/Poppins-Regular.ttf") format("truetype");
}

.valueText{
    font-family: "Poppins";
    font-size: 30px;
    color: black;
    margin:  0 50px;
}
