.navBarShape{
    min-height: 90px;
    opacity: .90;
    background-color: white;
    position: relative;
    list-style-type: none;
    padding: 0;
    border-radius: 30px;
    margin-left: 150px;
    margin-right: 150px;
    margin-top: 40px;
    outline: 2px solid grey;
    color: black;
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
   }
   
   .list a{
    list-style-type: none;
    padding: 82px;
     padding: 0;
     display: inline;
     position: relative;
     border-radius: 200px;
     text-decoration: none;
     color: black;
     }
   
     .listElementKP {
      padding: 0 10px 0 10px;
      text-align: middle;
      text-decoration: none;
      display: inline;
      border: 20px;
      border-radius: 200px;
      float: left;
      margin-top: 25px;
      font-weight: bold;
      font-size: xx-large;
     }
   
     .listElementHome,
     .listElementJoin,
     .listElementEvents,
     .listElementAbout {
      padding: 0px 10px 0 10px;
      display: inline;
      border: 20px;
      border-radius: 200px;
      float: right;
      justify-content: center;
      text-decoration: none;
      text-align: center;
      font-weight: bold;
      font-size: x-large;
      margin-top: 28px;
      margin-right: 45px;
     }
   
   
   