.page {
    background-image: url("../images/1987background.png");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 80vh;
    padding: 20px;
}

.heading { 
    margin-top: 0;
}

.paragraph {
    font-size: 18px;
  }
