/* @import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap'); */

.page {
    /* background-image: url(../images/1987.svg); */
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
    min-height: 70vh;
    padding: 20px;
    display: grid;
}



.heading { 
    margin-top: 0;
    /* z-index: 2; */
}

.paragraph {
    font-size: 18px;
    /* z-index: 2; */
}



.image {
    position: absolute; /* Absolute positioning relative to the screen */
    top: 70vh;          /* 20% of the viewport height */
    left: 30vw;         /* 50% of the viewport width */
    transform: translate(-50%, -50%); /* Centers the image */
    width: 30vw;        /* 10% of the viewport width */
    height: auto;       /* Maintain aspect ratio */
}
  


