/* Base/Laptop styles */
.events {
    height: 80vh;
    background-image: url(../../../public/Texture.svg);
    background-size: cover;
    background-repeat: no-repeat;
}

.title {
    display: flex;
    justify-content: center;
    text-align: center;
    padding-top: 70px;
    font-weight: bolder;
}

.more {
    display: flex;
    justify-content: center;
    text-align: center;
    margin-top: 30px;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}

.eventCards{
    display: flex;
    grid-template-columns: repeat(2, 1fr); /* 2 events per row */
}

/* tablets */
@media screen and (min-width: 600px) and (max-width: 768px){ 
}

 /* mobile + phone */
@media screen and (max-width: 600px) { 
    .events {
        margin-top: 400px;
    }
    .eventCards{
        display: grid;
        grid-template-columns: repeat(1, 1fr); /* 2 events per row */
    }
}