.container {
    min-height: 100vh;
    background-color: #f3f3f3;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}


.eventCards{
    display: flex;
    flex-direction: wrap;
    justify-content: space-between;
}

.maincontainer > * {
    flex: 0 1 calc(33.33% - 10px);
    margin-bottom: 10px;
}