/* Base/Laptop styles */
.container {
    min-height: 100vh;
    background-color: #f3f3f3;
}

.maincontainer {
    display: flex;
    flex-direction: row;
    justify-content: center;
    margin-top: 30px;
}


.eventCards{
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr)); /* Responsive grid setup */
    gap: 50px; /* Space between the event cards */
    
    max-width: 1200px;
    align-items: start;
    justify-items: center; /* Center-align the event cards within the grid cells */
}

.maincontainer > * {
    flex: 0 1 calc(33.33% - 10px);

}

.dropdown {
    margin: 5% 0% 0% 14%;
    width: 10%;
}

/* tablets */
@media screen and (min-width: 600px) and (max-width: 768px){ 

}

 /* mobile + phone */
@media screen and (max-width: 600px) { 

}