
.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}
.header {
    text-align: center;
}
.square {
    width: 300px;
    height: 400px;
    background-color: grey;
    margin: 0 10px;
    text-align: center;
    padding: 20px;
    border-radius: 20px;
    transition: transform 0.3s, box-shadow 0.3s;
    box-shadow: 0px 4px 6px rgba(0, 0, 0, 0.2);
}

.square:hover {
    transform: scale(1.1);
    box-shadow: 0px 8px 12px rgba(0, 0, 0, 0.2);
}

.splitScreen {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    display: flex;
    /* flex-direction: row; */
}

.leftPanel {
    /* background-color: aqua; */
    margin-left: 300px;
}

.leftPanel,
.rightPanel {
    flex: 1;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.rightPanel {
    margin-left: 250px;
    /* background-color: white; */
}

.buttons{
    text-align: center;
}
.Button {
    color: #C14229;
    background-color: white;
    padding: 10px 20px;
    font-size: 24px;
    margin: 30px;
    border: 1px solid #C14229;
    border-radius: 10px;
    transition: color 0.3s ease, background-color 0.3s ease, transform 0.3s ease;
}

.Button:hover{
    color: white;
    background-color: #C14229;
    transform: scale(1.2)
}

#link{
    text-align:end;
    display: block;
    margin-top: 30px;
    margin-right: 60px;
    color: grey;
    text-decoration: none;
    font-size: 1.3rem;
    transition: color 0.3s ease, transform 0.3s ease, margin-right 0.3s ease;
}

#link:hover {
    color: black;
    transform: scale(1.2);
    margin-right: 120px;
}

@media (max-width: 1250px) {

    .splitScreen {
        flex-direction: column;
    }

    .leftPanel {
        margin-left: 0;
    }
    .rightPanel {
        margin-left: 0;
    }
    .Button {
        margin: 10px;
        margin-top: 30px;
        font-size: 1rem;
        margin-bottom: 0px;
        font-weight: 400;
    }

    .square {
        width: 200px;
        height: 350px;
        margin-left: 25px;
        margin-right: 25px;

    }
    #link {
        text-align: center;
        margin: 0;
        margin-top: 50px;
    }

    #link:hover {
        margin-right: 0;
    }
}

@media (max-width: 450px) {
    
    .Button {
        margin: 8px;
        margin-top: 30px;
        font-size: 0.8rem;
        margin-bottom: 0px;
        font-weight: 400;
        padding: 8px;
    }

    .square {
        width: 118px;
        height: 150px;
        margin-left: 6px;
        margin-right: 6px;
    }
}

@media (max-width: 400px) {
    .Button {
        margin: 6px;
        margin-top: 30px;
        margin-bottom: ;
    }
    .square {
        width: 100px;
        height: 125px;
        margin-left: 6px;
        margin-right: 6px;
        margin-top: 0px;
    }

    #link {
        margin-top: 33px;
    }
}
