.container{
    display: flex;
    justify-content: center;
    margin-top: 50px;
}

.square {
    width: 150px;
    height: 230px;
    background-color: aqua;
    margin: 0 10px;
    text-align: center;
    padding: 20px;
}

.splitScreen {
    height: 100vh;
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-template-rows: 1fr;
    display: 'flex';
    flex-direction: row;
}

.leftPanel {
    width: '50%',
}

.rightPanel {
    width: '50%',
}

.Button {
    
    color: #C14229;
    background-color: white;
}