.card {
  border: 1px solid #ccc;
  border-radius: 8px;
  overflow: visible;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
  transition: transform 0.2s;
  align-items: center;
  background-color: #D8D8C9;
  position: relative; /* for absolute positioning inside */
  padding-top: 60px;
  padding-bottom: 20px;
  padding-left: 30px;
  padding-right: 30px;

}

.card:hover {
  transform: scale(1.05);
}

.tape {
  margin-bottom: 60px;
  position: absolute; /* allows positioning outside the container */
  top: -20px;         /* moves the image 20px above the top border */
  left: 27%;        /* moves the image 20px to the left of the left border */
}

.overlaycard {
  position: relative;
  width: 285px;
  height: 282px; 
  border-radius: 8px;
  overflow: hidden; /* Ensures content doesn't overflow */
  background-color: #FCFBF7; /* Background color for the box */
  /* tan color: #D8D8C9 */
}

.box {
  width: 100%;
  height: 100%;
  display: flex;
  justify-content: center;
  align-items: center;
  background-color: #FCFBF7; /* Background color for the box */
}

.overlaytext {
  position: absolute;
  padding-top: 10%;
  padding-bottom: 10%;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%); /* Center the text */
  color: #333;
  width: 85%; /* Adjust the width as needed */
  text-align: left;
  /* font-size: 1.5em; */
  pointer-events: none; /* Ensures the overlay text doesn't interfere with box content interactions */
}

.flip {
  padding-top: 8%;
  width: 15%;
  height: auto;
  align-items: center;
  text-align: center;
  opacity: 0.5;
}