.group .header {
  padding-left: 30px;
  text-align: left;
}
.group .header .KPyellow {
  color: #FBC300;
}
.group .cardLayout {
  display: flex;
  justify-content: space-between; /* Distribute space between items */
  align-items: center; /* Center items vertically */
  text-align: center;
  padding-left: 10px;
  padding-right: 10px;
  margin-top: 30px;
  margin-left: 80px;
  margin-right: 80px;
}

/* styling for title screen on desktops */
@media (min-width: 1240px) {
  .group {
    background-image: url("../../../public/AboutDesktop1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 25%;
    min-height: 90vh;
    max-height: 500vh;
    position: relative;
  }
  .group .picture {
    width: 100%;
  }
  .group .responsiveImage {
    width: 60%;
  }
  .group .header h1 {
    font-size: 4em;
  }
  .group .header p {
    font-size: 1.2em;
  }
}
/* styling for tablet screen */
@media (min-width: 599px) and (max-width: 1240px) {
  .group {
    background-image: url("../../../public/AboutTablet1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 43%;
    /* Ensure the cardLayout is full-width and responsive */
    /* Select the cards individually if needed or use a common class if they share one */
  }
  .group .picture {
    width: 75%;
  }
  .group .responsiveImage {
    width: 50%;
  }
  .group .header h1 {
    font-size: 2em;
  }
  .group .header p {
    font-size: 1em;
  }
  .group .cardLayout {
    flex-direction: row; /* Stack elements vertically */
    align-items: stretch; /* Stretch items to take full width */
    margin-left: 10px; /* Adjust margins for smaller screens */
    margin-right: 10px;
  }
  .group .cardLayout > div {
    width: 80%; /* Reduce the width of each card to 80% of its container */
    margin: 40px auto; /* Adds vertical space and centers horizontally */
    transition: width 0.3s ease-in-out; /* Smooth transition for resizing */
  }
  .group .cardLayout > div img {
    max-width: 80%; /* Optionally reduce the max-width to less than 100% if needed */
    height: auto; /* Maintain aspect ratio */
    transition: width 0.3s ease-in-out; /* Smooth transition for resizing */
  }
}
/* styling for small devices(phones,etc) screen */
@media (min-width: 0px) and (max-width: 599px) {
  .group {
    background-image: url("../../../public/AboutMobile1.svg");
    background-size: cover;
    background-repeat: no-repeat;
    background-position: 50% 0%;
    min-height: auto; /* Allow container to grow with content */
  }
  .group .header h1 {
    font-size: 2em;
  }
  .group .header p {
    font-size: 0.8em;
  }
  .group .cardLayout {
    flex-direction: column; /* Stack elements vertically */
    align-items: stretch; /* Stretch items to take full width */
    margin-left: 10px; /* Adjust margins for smaller screens */
    margin-right: 10px;
  }
  .group .cardLayout > div {
    width: 80%; /* Reduce the width of each card to 80% of its container */
    margin: 40px auto; /* Adds vertical space and centers horizontally */
    transition: width 0.3s ease-in-out; /* Smooth transition for resizing */
  }
  .group .cardLayout > div img {
    max-width: 80%; /* Optionally reduce the max-width to less than 100% if needed */
    height: auto; /* Maintain aspect ratio */
    transition: width 0.3s ease-in-out; /* Smooth transition for resizing */
  }
}

/*# sourceMappingURL=who.module.css.map */
