.footer {
    background-color: rgb(205, 73, 43);
    min-height: 250px;
}

.toplist {
   list-style-type: none;
   display: flex;
   justify-content: center;
    align-items: flex-start;
    align-self: stretch;
   padding-top: 30px;
}

.toplist a{
    text-decoration: none;
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 20px;
    font-style: normal;
    font-weight: 400;
    line-height: normal;
    letter-spacing: 0.2px;
}
.titles {
    margin: 0px 100px 0px 20px;
}

.kp{
    color: #FFF;
    text-align: center;
    font-family: Outfit;
    font-size: 35px;
    font-style: normal;
    font-weight: 700;
    line-height: normal;
    letter-spacing: 2.275px;
    margin-top: 50px;
    margin-bottom: 50px
}

.bottomlist{
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 300px;
    list-style-type: none;
}

.bottomlist a {
    text-decoration: none;
    color: white;
}

.bottomTitles{
    color: white;
}

.igLogo{
    margin-right: -125px
}

.tiktokLogo{
    margin-left: -125px
}

.est1987{
    color: #FFF;
    font-family: Outfit;
    font-size: 24px;
    font-style: normal;
    font-weight: 300;
    line-height: normal;
}