
.quotePage{
    display: grid;
    align-items: center;
    background-color: black;
    width: 100vw;
    height: 100vh;
    background-image: linear-gradient(rgba(0, 0, 0, 0.5),
    rgba(0, 0, 0, 0.5)), url("gbm.jpg");
    background-size: cover;
    background-position: center;
}

.quoteImage{ /* background image */
    display: flex; /* this is weird, it warps the image responsively */
    width: 100vw;
    height: 100vh;
    z-index: 1;
    position: relative;
    
}



.quoteContainer { /* for quote and star */
    display: grid;
    width: 100vw;
    height: 100vh;
    position: absolute;
    z-index: 2;
}


@font-face {
    font-family: "Outfit";
    src: local("Outfit"), url("../../public/fonts/Outfit/static/Outfit-Regular.ttf") format("opentype");
}
.quoteText{
    grid-column: 1 / 3;
    grid-row: 1;
    font-family: "Outfit";
    position: absolute;
    top: 217px;
    left: 132px;
    right: 172px;

    font-size: 40px;
    font-weight: 400;
    font-style: normal;
    line-height: normal;
    color: #FFEBB6;
    flex: 1;
}

.quoteText strong {
    font-weight: 900;
}

.quoteStar{
    grid-column: 3/3;
    grid-row: 1;
    position: relative;
    height: 100%;
    width: 100%;
    top: 0;
    right: 0;
}
