.container {
    outline: 2px solid rgb(201, 201, 201);
    border-radius: 15px;
    min-height: 390px;
    width: 290px;
    padding: 20px;
    box-shadow: 0 8px 15px rgba(112, 112, 112, 0.2);
    margin-left: 20px;
    margin-right: 20px;
    position: relative;
}

.host {
    border-bottom: 1px solid black;
    font-size: 25px;
    font-weight: bold;
    color: grey;
    padding-bottom: 10px;
}

.title {
    font-size: 40px;
    font-weight: bold;
    padding-top: 20px;
    text-align: center;
    min-height: 100px;
    position: relative;
    z-index: 2;
}

.ellipse {
    position: absolute;
    top: 80px; /* Adjust the position as needed */
    left: 0px;
    z-index: 1; /* Ensure the SVG is behind the title */
    opacity: 0.8; /* Optional: reduce opacity if needed */
    pointer-events: none; /* Prevents the SVG from blocking interactions with other elements */
}

.date {
    font-size: 25px;
}

.location {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}

.description {
    border-bottom: 1px solid black;
    padding-bottom: 10px;
}


@media screen and (min-width: 600px) and (max-width: 768px){ /* tablets */
    .container {
        background-color: yellow; /* Test for tablet screens */
        margin-left: 0px;
        width: 220px;
    }
}

@media screen and (max-width: 600px) { /* mobile + phone */
    .container {
        background-color: blue; /* Test for tablet screens */
        width: 100%; /* Adjust the width */
        width: 300px;
        padding: 10px;
        margin-bottom: 20px;
    }
}
