@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.nav {
    background: url(../../public/Texture.svg);
    background-size: cover;
    background-repeat: no-repeat;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border-radius: 30px;
    margin: 40px 150px;
    position: relative;
    background: rgba(236, 236, 236, 0.70);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    outline: 1px solid #F6F6F6;
}

.container::before {
    content: '';
    position: absolute;
    top: -40px; /* Adjust to match the margin */
    left: -150px; /* Adjust to match the margin */
    right: -150px; /* Adjust to match the margin */
    bottom: -40px; /* Adjust to match the margin */
    background: url('../../public/Texture.svg') no-repeat center center / cover;
    z-index: -1; /* Ensure it is behind the container */
    border-radius: 30px; /* Match the border-radius of the container */
}

.title {
    margin-left: 50px;
    font-weight: bolder;
    font-family: 'Outfit', sans-serif;
}

.list {
    display: flex;
    margin-right: 50px;
}

.listElement {
    list-style-type: none;
    font-family: 'Outfit', sans-serif;
    font-size: x-large;
    margin-right: 50px;
    padding: 10px;
    border: 1px solid transparent; /* Initial border is transparent */
    transition: border 0.3s ease; /* Smooth transition effect */
    border-radius: 20px;
}

.listElement a {
    list-style-type: none;
    border-radius: 200px;
    text-decoration: none;
    color: inherit;
}

.listElement:hover {
    border-color: #2C2C2C;
}

/* Specific styles for the special button */
.specialButton {
    background-color: #2C2C2C; /* Example color */
    color: #F6F6F6;
}

.specialButton a {
    color: #F6F6F6; /* Ensure the link text color matches the button */
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

@media (max-width: 768px) {
    .container {
        margin: 0;
        border-radius: 10px;
    }

    .title {
        font-size: large;
        margin-right: 10px;
    }

    .list {
        display:none;
        flex-direction: column;
        position: absolute;
        top: 50px;
        left: 20px;
        padding: 0;
        background-color: white;
        border: 1px solid grey;
        border-radius: 10px;
        box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    }

    /* Show the list when the menu is toggled */
    .list.showMenu {
        display: flex;
    }

    /* Display the hamburger menu icon */
    .hamburger {
        display: block;
    }

    /* Adjust list elements for mobile view */
    .listElement {
        text-align: right;
        width: 200px;
    }

    /* Adjust anchor tags for mobile view */
    .listElement a {
        display: block;
        padding: 10px 20px;
    }
}