

.nav {
    background-image: url(../../public/Texture.svg);
    background-size: cover;
    background-repeat: no-repeat;
    z-index: 100;
    width: 100vw;
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
   ;
    position: relative;
    background: rgba(236, 236, 236, 0.90);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    outline: 1px solid #F6F6F6;
}


.title {
    margin-left: 50px;
    font-weight: bolder;
    margin-right: 20%;

}

.list {
    display: flex;
    margin-right: 10px;
}

.listElement {
    list-style-type: none;
    font-size: x-large;
    margin-right: 2vw;
    padding: 1vw;
    border: 1px solid transparent; /* Initial border is transparent */
    transition: border 0.3s ease; /* Smooth transition effect */
    border-radius: 20px;
}

.listElement a {
    list-style-type: none;
    border-radius: 200px;
    text-decoration: none;
    color: inherit;
}

.listElement:hover {
    border-color: #2C2C2C;
}

.joinButton { /* Join button */
    background-color: #2C2C2C; 
    color: #F6F6F6;
    margin-left: 0px;
}

.specialButton a {
    color: #F6F6F6; 
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

@media (max-width: 1350px) {
    .nav {
      
    }

    .title {
        margin-right: 10%;
        margin-left: 25px;
    }
}

@media (max-width: 1000px) {
    .nav {
        
    }

    .title {
        font-size: large;
        margin-right: 0%;
        margin-left: 25px;
    }

    .listElement {
        font-size: large;
        margin: 0px 5px;
        margin-right: 0px;
    }

    .joinButton {
        margin-left: 5px;
        margin-right: 10px;
    }
}

/* Media Queries */

/***************** Styling for tablets *****************/
@media screen and (min-width: 600px) and (max-width: 768px) {
    .container {
        margin: 0;
        
    }

    .nav {
        
    }

    .title {
        font-size: x-large;
        margin-right: 35%;
    }

    .list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 55px;
        width: 100vw;
        right: 10px;
        padding: 0;
        background-color: rgba(236, 236, 236, 0.90);
        border: 1px solid #F6F6F6;
        border-radius: 0px;
        transition: max-height 30s ease, opacity 30s ease; /* Add transitions */
    }

    .list.showMenu {
        display: flex;
    }

    .noShadow {
        box-shadow: none;
    }

    .hamburger {
        display: block;
        margin-left: 0px;
    }

    .listElement {
        text-align: center;
        width: 200px;
    }

    .joinButton {
        display: block;
        text-align: center;
        width: 75px;
        padding: 0px 5px;
        margin: 10px;
        border-radius: 10px;
        margin-right: 5px;
    }

    .listElement a {
        display: block;
        padding: 10px 10px;
    }
    
}

/***************** Styling for mobile *****************/
@media screen and (max-width: 600px) {
    .container {
        border-radius: 0px;
    }

    .title {
        font-size: large;
        margin-right: 30%;
    }

    /* Initial state of the menu */
    .list {
        /* Instead of display: none, use max-height and opacity for transitions */
        max-height: 0;
        opacity: 0;
        overflow: hidden; /* Hide the overflowing content */
        flex-direction: column;
        position: absolute;
        top: 55px;
        width: 100vw;
        padding: 0;
        align-items: center;
        background: rgba(236, 236, 236, 0.90);
        border: 1px solid #F6F6F6;
        border-bottom-left-radius: 10px;
        border-bottom-right-radius: 10px;
        transition: max-height 0.3s ease, opacity 0.3s ease;
        box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    }

    .showMenu {
        max-height: 300px;
        opacity: 1;
    }

    
    .noShadow {
        box-shadow: none;
    }

    .hamburger {
        display: block;
        margin-left: 0px;
    }

    .listElement {
        text-align: center;
        width: 200px;
    }

    .joinButton {
        display: block;
        text-align: center;
        width: 75px;
        padding: 0px 5px;
        margin: 10px;
        border-radius: 10px;
        margin-right: 5px;
    }

    .listElement a {
        display: block;
        padding: 10px 10px;
    }
    
}