@import url('https://fonts.googleapis.com/css2?family=Outfit:wght@100..900&display=swap');

.nav {
    background-image: url(../../public/Texture.svg);
    /* background-color: white; */
    background-size: cover;
    background-repeat: no-repeat;
    padding: 40px 150px;
    
}

.container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    list-style-type: none;
    border-radius: 30px;
    position: relative;
    background: rgba(236, 236, 236, 0.70);
    box-shadow: 0 8px 15px rgba(0, 0, 0, 0.3);
    box-sizing: border-box;
    outline: 1px solid #F6F6F6;
}


.title {
    margin-left: 50px;
    font-weight: bolder;
    font-family: 'Outfit', sans-serif;
}

.list {
    display: flex;
}

.listElement {
    list-style-type: none;
    font-family: 'Outfit', sans-serif;
    font-size: x-large;
    margin-right: 2vw;
    padding: 1vw;
    border: 1px solid transparent; /* Initial border is transparent */
    transition: border 0.3s ease; /* Smooth transition effect */
    border-radius: 20px;
}

.listElement a {
    list-style-type: none;
    border-radius: 200px;
    text-decoration: none;
    color: inherit;
}

.listElement:hover {
    border-color: #2C2C2C;
}

.joinButton { /* Join button */
    background-color: #2C2C2C; 
    color: #F6F6F6;
}

.specialButton a {
    color: #F6F6F6; 
}

.hamburger {
    display: none;
    font-size: 30px;
    cursor: pointer;
    margin-right: 20px;
}

@media (max-width: 950px) {
    .listElement {
        font-size: large; 
    }
    .title {
        font-size: large;
        margin-right: 0.2vw;
        margin-left: 25px;
    }
}

@media screen and (min-width: 600px) and (max-width: 768px) {
    .container {
        margin: 0;
        border-radius: 10px;
    }

    .nav {
        padding: 20px;
    }

    .title {
        font-size: x-large;
        margin-right: 35%;
    }

    .list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10px;
        padding: 0;
        background-color: rgba(236, 236, 236, 0.90);
        border: 1px solid #F6F6F6;
        border-radius: 10px;
    }

    .list.showMenu {
        display: flex;
    }

    .hamburger {
        display: block;
        margin-left: 0px;
    }

    .listElement {
        text-align: right;
        width: 200px;
    }

    .joinButton {
        display: block;
        text-align: center;
        width: 75px;
        padding: 0px 5px;
        margin: 10px;
        border-radius: 10px;
        margin-right: 5px;
    }

    .listElement a {
        display: block;
        padding: 10px 10px;
    }
    
}

@media screen and (max-width: 600px) {
    .container {
        margin: 0;
        border-radius: 10px;
    }

    .nav {
        padding: 20px;
    }

    .title {
        font-size: large;
        margin-right: 30%;
    }

    .list {
        display: none;
        flex-direction: column;
        position: absolute;
        top: 70px;
        right: 10px;
        padding: 0;
        background-color: rgba(236, 236, 236, 0.90);
        border: 1px solid #F6F6F6;
        border-radius: 10px;
    }

    .list.showMenu {
        display: flex;
    }

    .hamburger {
        display: block;
        margin-left: 0px;
    }

    .listElement {
        text-align: right;
        width: 200px;
    }

    .joinButton {
        display: block;
        text-align: center;
        width: 75px;
        padding: 0px 5px;
        margin: 10px;
        border-radius: 10px;
        margin-right: 5px;
    }

    .listElement a {
        display: block;
        padding: 10px 10px;
    }
    
}