.history-container {
    text-align: center;
    font-family: 'Arial, sans-serif';
  }

.content {
  margin: 20px 0;
}
  
.arrows {
  display: flex;
  justify-content: right;
  margin: 20px 0;
}

.timeline {
  position: relative;
  display:flex;
  align-items: center;
  justify-content: center;
  margin: 40px 0;
}

.line {
  position: absolute;
  width: 78%;
  height: 4px;
  background-color: black;
  z-index: 1;
  border-radius: 15px;
}

.stars {
  display: flex;
  justify-content: space-between;
  width: 50%;
  z-index: 2;
}

.stars span {
  cursor: pointer;
  font-size: 44px;
  color: black;
}

.stars span.active {
  color: red;
}